<div class="container">
  <h4>Welcome to the <b style="color: blue;">Mi Mugrero</b> administration panel here you can add new items to the
    catalog</h4>
</div>
<div class="container">
  <div class="container">
    <form>
      <div class="form-group">
        <label>Product Name</label>
        <input type="text" class="form-control" placeholder="Enter Title" ng-model="item.Title">
        Example: Spiderman
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea name="textarea" class="form-control" ng-model="item.Description"></textarea>
        Example: The best movie of spidermans
      </div>
      <div class="form-group">
        <label>Year</label>
        <input type="number" class="form-control" placeholder="Year of premiere" ng-model="item.Year">
        Example : 2002
      </div>
      <div class="form-group">
        <label>IMDb</label>
        <input type="text" class="form-control" placeholder="IMDb" ng-model="item.imdbID">
        Example: tt0145487
      </div>
      <div class="form-group">
        <label>Price</label>
        <small class="form-text text-muted">$</small>
        <input type="number" class="form-control" placeholder="Price" ng-model="item.Price">
        Example: 100
      </div>
      <div class="form-group">
        <label>Url Image</label>
        <input type="text" class="form-control" placeholder="" ng-model="item.ImgUrl">
        Example: /data/img/spiderman.jpg
      </div>
      <br />
      <button type="submit" ng-click='addItem()' class="btn btn-primary">Save</button>
    </form>
  </div>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th><b>Title</b></th>
        <th><b>Year</b></th>
        <th><b>imdbID</b></th>
        <th><b>Description</b></th>
        <th><b>Price</b></th>
        <th><b>Action</b></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="i in $root.items">
        <td><img ng-src="{{i.ImgUrl}}" width="90px" class="img-listado" /></td>
        <td class="celda">{{i.Title}}</td>
        <td>{{i.Year}}</td>
        <td>{{i.imdbID}}</td>
        <td class="celda">{{i.Description}}</td>
        <td><b style="color: red;">$ {{i.Price}}</b></td>
        <td><button style="display: inline-block;" type="button" class="btn btn-danger"
            ng-click=deleteItem(i.Id)>Delete</button></td>
      </tr>
    </tbody>
  </table>
  <br>
</div>