<div class="container" ng-controller="itemsController">
    <div class="content" style="display: inline-block;">
        <img src="assets/images/Blockbuster_logo.svg.png" alt="slider image" width="150">
        <h7><b> Items Catalog</b></h7>
    </div>

    <div class="container" style="text-align: right;">
        <a class="btn" style="color: red;" href="#!/cart/">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path
                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
                </path>
            </svg>
            <h2><b>{{$root.itemsInCart}}</b></h2>
        </a>
    </div>

    <modal-dialog show='modalShown' width='95' height='95' addocartm="addocartm()"
        template-info="/catalog/productDetail.template.html">
    </modal-dialog>

    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in $root.items">
                <td><img ng-src="{{x.ImgUrl}}"
                        width="50px" class="img-listado" /></td>
                </td>
                <td scope="row">
                    <p>{{x.Title}}<br><a type="button" class="btn btn-primary"
                            ng-click='toggleModal(x)'>Details</a></p>
                </td>
                <td>
                    <button style="display: inline-block;" type="button" class="btn btn-warning"
                        ng-click='addToCart(x)'>Add to cart</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>