<div class="container">
        <div class='ng-modal' ng-if='show'>
                <div class='ng-modal-overlay'></div>
                <div class='ng-modal-dialog' style="text-align: center;" ng-if='show' ng-style='dialogStyle'>
                        <div class='ng-modal-dialog-content' style="text-align: center;">
                                <div style="text-align: center; width: 220px; display: inline-block;">
                                        <div class="content">
                                                <img style="text-align: center;" class="card-img-top"
                                                        ng-src="{{$root.currentItemInModal.ImgUrl}}"
                                                        alt="imagen">
                                                <div class="card-body" style="text-align: center;">
                                                        <h3 class="card-title">{{$root.currentItemInModal.Title}}</h3>
                                                        <h5>{{$root.currentItemInModal.Description}}</h5>

                                                </div>
                                                <button class="btn btn-warning" ng-click=add()>Add to cart</button>
                                                <button class="btn btn-warning" ng-click=cancel()>Cancel</button>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>