<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="i in $root.cart">
            <td><img ng-src="{{i.ImgUrl}}" width="90px" class="img-listado" /></td>
            <td class="celda">{{i.Title}}</td>
            <td><b style="color: red;">$ {{i.Price}}</b></td>
            <td><b style="color: rgb(25, 0, 255);">{{i.Quantity}}</b></td>
            <td><button style="display: inline-block;" type="button" class="btn btn-danger"
                    ng-click=deleteItemFromCart(i.Id)>Delete</button></td>
        </tr>
        <tr style="text-align: right;">
            <td colspan="4">Subtotal : $ {{ $root.subtotal}}</td>
        </tr>
        <tr style="text-align: right;">
            <td colspan="4">IVA 16% : $ {{ $root.subtotalIVA}}</td>
        </tr>
        <tr style="text-align: right;">
            <td colspan="4">Total :<b>$ {{ $root.total}}</b></td>
            <td><a class="btn btn-warning" href="#!/checkout/">Pay</a></td>
        </tr>
    </tbody>
</table>

