body {
  padding: 20px;
}

.container-body{
  background: #e8e8f3;
}

/*Home page*/
.container-two{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 350px;
}

img{
  border:none;
  max-width:100%; 
  height:auto;
}

.btn-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e99c2e;
    border: 1px solid #e99c2e;
    width: 80px;
    height: 30px;
    white-space: nowrap;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 3px;
}


.content-area h2 {
  font-size: 48px;
  color: #141414;
  font-weight: 400;
  margin: 20px 0 22px;
}

.btn-cart.to-shoping-cart:hover{
  color: #e99c2e;
  background: transparent;
  border: 1px solid #e99c2e;
}

.btn-cart.to-admin-site{
  color: #e99c2e;
  background: transparent;
  border:transparent;
}

.btn-cart.to-admin-site:hover{
  background: transparent;
  color: #e99c2e;
  border: 1px solid #e99c2e;
}

.btn-cart.to-shoping-cart,.btn-cart.to-admin-site {
  width: 170px;
  height: 60px;
  line-height: 60px;
  border-radius: 1px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  margin-top: 34px;
  -webkit-transition: 0.3s linear; 
  -moz-transition: 0.3s linear; 
  -ms-transition: 0.3s linear; 
  -o-transition: 0.3s linear; 
  transition: 0.3s linear;
}


h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}

/*Para componente Admin*/
.celda{
  height: auto;
  width: 200px;
}
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:25%;
  left:25%;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.5;
}

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 25%;
  left: 25%;
  /*transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);*/

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  font-family:'Roboto';
  font-size:14pt;
  color: black;
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

/*-----------------------------------------------------------------
        ANIMATIONS
-------------------------------------------------------------------*/
.ng-modal-dialog.ng-hide-add, .ng-modal-dialog.ng-hide-remove {
    display:block!important;
}
.ng-modal-dialog.ng-hide-remove {
    -webkit-animation: bounceIn 1s;
    -moz-animation: bounceIn 1s;
    -ms-animation: bounceIn 1s;
    animation: bounceIn 1s;
}

.ng-modal-dialog.ng-hide-add {
    -webkit-animation: bounceOut .8s;
    -moz-animation: bounceOut .8s;
    -ms-animation: bounceOut .8s;
    animation: bounceOut .8s;
}

.ng-modal-dialog.ng-enter {
    -webkit-animation: rollIn 1s;
    -moz-animation: rollIn 1s;
    -ms-animation: rollIn 1s;
    animation: rollIn 1s;
}

.ng-modal-dialog.ng-leave {
    -webkit-animation: bounceOut .8s;
    -moz-animation: bounceOut .8s;
    -ms-animation: bounceOut .8s;
    animation: bounceOut .8s;
}

/*Para el menú*/

.nav{
  font-family: Helvetica;
  width: 480px;
  margin: 0 auto;
}

#menub li>a{
  background-color: grey;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}
#menub li>a:hover{
  color: #000;
  background-color: #eaeaea;
}
#menub>li{
  float: left;
  text-align:center
}
#menub>li:hover>ul {
  display:block;
}