<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-sm-7">
                <div class="container-two">
                    <div class="content-area">
                        <h2>The Magic of Mi mugrero</h2>
                        <p>
                            Blockbuster is the only place that offers you the best DVD and Blu-ray movies, at the best
                            prices.
                        </p>
                        <a class="btn btn-cart to-shoping-cart" href="#!/catalog/"> Buy Now</a>
                        <a class="btn btn-cart to-shoping-cart" href="#!/admin/"> Admin Panel</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="container-two">
                    <div class="content-img">
                        <img src="assets/images/Blockbuster_logo.svg.png" alt="slider image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>