<div class="container" style="text-align: center;">
    <br>

    Congratulations!!
    Thanks for your purchase!!

    Total sale $ {{total}}
    <div class="content">
        <p>

            <a class="btn" href="#!/home/"> Return to home page</a>
            <br>
            <a class="btn" href="#!/catalog/"> Shopping</a>

        </p>
    </div>
</div>